.li {
  display: flex;
  height: 80px;
  margin-bottom: @base-margin;
  .year {
    width: 10%;
  }
  .container {
    width: 90%;
    background-color: @gray;
    padding: @base-padding;

    p {
      font-size: 14px;
    }
  }
}
.title,
.year {
  font-size: 16px;
  font-weight: bold;
}
